#stars {
    top: 0;
    position: absolute;
    width: 100%;
  }
h3 {
    background: linear-gradient(#faebd7,#e6e6fa);
    }
h1 {
    background: linear-gradient(#faebd7,#e6e6fa);
    }
h4 {
    background: linear-gradient(#faebd7,#e6e6fa);
    }